@model Danzor.DanzorViewModel
<section class="bloco">
   <table id="dados_adicionais">
      <tr>
         <td class="campo">
            <div class="conteudo negrito">DADOS ADICIONAIS</div>
         </td>
         <td class="campo">
            <div class="conteudo negrito">RESERVADO AO FISCO</div>
         </td>
      </tr>
      <tr>
         <td class="campo dados-adicionais">
            <div class="conteudo">
               VD: 00326212 FT: CL: 0000627945 LD: BRF CARNES ORIG: 9162857261 PED CLI: S1226
               Transporte: 0108542762 - ***** BOLETO BANCARIO EM ANEXO ***** Informacoes de
               Transbordo ==> Transportador: FAN PARTICIPACOES E TRANSP LTDA PE Placa: NNK0293
            </div>
         </td>
         <td class="campo reservado-fisco">
            <div class="conteudo"></div>
         </td>
      </tr>
   </table>
</section>
