@model Danzor.DanzorViewModel
<section class="bloco">
   <div class="conteudo negrito fonte-7-pontos">TRANSPORTADOR / VOLUMES TRANSPORTADOS</div>
   <table>
      <tr>
         <td class="campo razao-social-transportador">
            <div class="conteudo fonte-5-pontos">NOME / RAZÃO SOCIAL</div>
         </td>
         <td class="campo frete-por-conta-transportador">
            <div class="conteudo fonte-5-pontos">FRETE POR CONTA</div>
            <div class="conteudo duas-coluna fonte-5-pontos">
               0 - EMITENTE <br />
               1 - DESTINAT.
            </div>
            <div class="conteudo duas-coluna centralizado negrito">
               <span class="caixa">1</span>
            </div>
         </td>
         <td class="campo codigo-antt-transportador">
            <div class="conteudo fonte-5-pontos">CÓDIGO ANTT</div>
         </td>
         <td class="campo placa-veiculo-transportador">
            <div class="conteudo fonte-5-pontos">PLACA DO VEÍCULO</div>
         </td>
         <td class="campo uf-placa-transportador">
            <div class="conteudo fonte-5-pontos">UF</div>
         </td>
         <td class="campo cnpj-transportador">
            <div class="conteudo fonte-5-pontos">CNPJ / CPF</div>
         </td>
      </tr>
      <tr>
         <td class="campo endereco-transportador">
            <div class="conteudo fonte-5-pontos">ENDEREÇO</div>

         </td>
         <td colspan="3" class="campo municipio-transportador">
            <div class="conteudo fonte-5-pontos">MUNICÍPIO</div>

         </td>
         <td class="campo uf-transportador">
            <div class="conteudo fonte-5-pontos">UF</div>

         </td>
         <td class="campo inscricao-transportador">
            <div class="conteudo fonte-5-pontos">INSCRIÇÃO ESTADUAL</div>

         </td>
      </tr>
   </table>
   <table class="sem-borda-superior">
      <tr>
         <td class="campo quantidade-transportador">
            <div class="conteudo fonte-5-pontos">QUANTIDADE</div>

         </td>
         <td class="campo especie-transportador">
            <div class="conteudo fonte-5-pontos">ESPÉCIE</div>

         </td>
         <td class="campo marca-transportador">
            <div class="conteudo fonte-5-pontos">MARCA</div>

         </td>
         <td class="campo numero-transportador">
            <div class="conteudo fonte-5-pontos">NÚMERO</div>

         </td>
         <td class="campo peso-bruto-transportador">
            <div class="conteudo fonte-5-pontos">PESO BRUTO</div>

         </td>
         <td class="campo peso-liquido-transportador">
            <div class="conteudo fonte-5-pontos">PESO LÍQUIDO</div>

         </td>
      </tr>
   </table>
</section>